/* ==========================================================================
   Default skin
   ========================================================================== */
   /* Intentionally left blank */
   .greedy-nav a {
      color:#c792ea;
   }
   a:visited {
      color:#8ae4ff;
   }
   a:hover {
      color:#af3db2;
   }