/* ==========================================================================
   Default skin
   ========================================================================== */
   .greedy-nav a {
      color:#c792ea
   }
   a:visited{
      color:#8ae4ff;
   }
   a:hover{
      color:#af3db2;
   }
// Intentionally left blank
